#modal-container{
height: 100vh;
width: 100%;
background-color: blue;
position:absolute;
display: none;
font-family: 'Oswald', sans-serif;
}

#survey-container{
    display: grid;
    font-family: 'Oswald', sans-serif;
    width:50%;
}

input{
    border:1px solid black
}